@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    padding: 1rem 90px;
    /* background-color: #8183fc; */
    font-weight: 400;
}

.navbar .nav-item {
    margin-left: 25px;
}

.navbar .nav-link,
.footer .nav-link {
    color: white;
}

.navbar .nav-link:hover,
.footer .nav-link:hover {
    color: white;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}

.navbar button:focus,
.navbar button:active {
    box-shadow: none !important;
}

.login {
    color: white;
    border: #ffffff00 solid 1.5px;
    font-size: 15px;
    padding: 0.5rem 1em !important;
}

.signup {
    color: white;
    border: #ffffff solid 1.5px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0.5rem 1em !important;
}

.login:hover,
.signup:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.2s ease 0s;
}