<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome.min.css')}}" />
    <script src="https://kit.fontawesome.com/555f71f953.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">

    <title>EVault</title>
</head>

<body>
    <!---------------------------------------- Navbar ---------------------------------------->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid" style="padding: 0 !important;">

            <a class="navbar-brand" href="/"><img class="logo" src="{{url_for('static',filename='images/Logo.png')}}" alt=""> EVault</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto" id="nav_contents">
                    <li class="nav-item">
                        <a class="nav-link login" href="/">Manage Passwords</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="/strengthchecker">Strength Checker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!---------------------------------------- Banner ---------------------------------------->
    <div class="banner">
        <div class="row banner-text-row justify-content-center">
            <div class="col-md-7 col-lg-6 col-xl-5 banner-text-col">
                <div class="form-container">
                    <h2>Add Password</h2>
                    <form action="" method="post">
                        <div class="form-group">
                            <input type="text" id="website" name="website" placeholder="Website Name">
                        </div>
                        <div class="form-group">
                            <input type="text" id="link" name="link" placeholder="Website Link">
                        </div>
                        <div class="form-group">
                            <input type="text" id="username" name="username" placeholder="Website Username">
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" placeholder="Website Password">
                        </div>
                        <button class="btn btn-success" onclick="passgen()" type="button">Generate Password</button>
                        <button class="bluebutton continue" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

    <script>
        function passgen(){
            $.ajax({
                type: "POST",
                url: "/generatepassword",
                success: function(password) {
                    alert(password);
                }
            });
        }
    </script>
</body>

</html>