<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome.min.css')}}" />
    <script src="https://kit.fontawesome.com/555f71f953.js" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/layout.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/manage.css')}}">

    <title>EVault</title>
</head>

<body>
    <!---------------------------------------- Navbar ---------------------------------------->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid" style="padding: 0 !important;">

            <a class="navbar-brand" href="/"><img class="logo" src="{{url_for('static',filename='images/Logo.png')}}" alt=""> EVault</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" style="color: white;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto" id="nav_contents">
                    <li class="nav-item">
                        <a class="nav-link login" href="/">Manage Passwords</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="/strengthchecker">Strength Checker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login" href="/logout">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!---------------------------------------- Banner ---------------------------------------->
    <div class="banner">
        <div class="row banner-text-row">
            <div class="add-new-div">
                <a type="button" class="add-new-btn btn btn-outline-light" href="/addnew">Add <i class="fas fa-plus"></i></a>
            </div>

            <table class="table passwords-table">
                <thead class="table-header">
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Website</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                    </tr>
                </thead>

                <tbody>
                    {% for entry in entries %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td><a href="{{entry[3]}}" id="website_name" target="_blank">{{entry[1]}}</a></td>
                        <td id="web_username">{{entry[2]}}</td>
                        <td><input class="sober" type="password" disabled="true" value="{{entry[4]}}"></input>
                            <i onclick="toggle_visibility.call(this)" class="far fa-eye fa-eye-slash"></i>
                            <i class="fas fa-trash-alt i-delete" style="cursor:pointer;" onclick="delete_entry.call(this)"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>

    <script>
        let toggle_visibility = function() {
            passwordtext = this.parentElement.querySelector('input');
            passwordtext.type = passwordtext.type == "password" ? "text" : "password";
            this.classList.toggle("fa-eye-slash");
        }

        let delete_entry = function() {
            if (confirm("Are you sure, you want to delete?")) {
                $.ajax({
                    type: "POST",
                    url: "/delete_entry",
                    data: {
                        website_name: this.parentElement.parentElement.querySelector("#website_name").innerHTML,
                        web_username: this.parentElement.parentElement.querySelector("#web_username").innerHTML,
                    },
                    success: function(_) {
                        window.location.reload();
                    }
                });
            }
        }
    </script>

</body>

</html>